html{
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    color: white;
    background-image: url( '../img/spiration-dark.png' );
}

a, a:visited{
    color: #b73126;
    transition: color 500ms ease;
}
a:focus, a:hover{
    color: rgb(250, 110, 65);
    transition: color 500ms ease;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#site-title, #footer, #rules{
    text-align: center;
}

#site-title{
    font-family: 'Anton', sans-serif;
    margin-top: 0;
    color: #b73126;
}

#canvas{
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

#footer{
    font-size: 0.8rem;
}

#footer p:last-child{
    margin-bottom: 0;
}
